@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 137, 56%, 51%;
    --chart-2: 0, 86%, 65%;
    --chart-3: 207, 100%, 58%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --color-granted: hsl(var(--chart-1));
    --color-rejected: hsl(var(--chart-2));
    --color-partially: hsl(var(--chart-3));
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .base-heading {
    @apply font-work font-semibold text-brand-black;
  }

  .heading-24 {
    @apply base-heading text-2xl;
  }

  .heading-22 {
    @apply base-heading text-[22px];
  }

  .base-paragraph {
    @apply font-work font-normal text-brand-black-2;
  }

  .paragraph-14 {
    @apply base-paragraph text-sm;
  }
}

.ant-card .ant-card-head {
  @apply border-b border-black border-opacity-10;
}

.ant-card .ant-card-body {
  @apply h-fit p-0;
}

.recharts-sector:focus {
  @apply outline-none;
}
